
<!DOCTYPE html>
<html>
<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<h2 class="w3-center">Proyecto Sanación</h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="img_snowtops.jpg" style="width:100%">
  <img class="mySlides" src="img_lights.jpg" style="width:100%">
  <img class="mySlides" src="img_mountains.jpg" style="width:100%">
  <img class="mySlides" src="img_forest.jpg" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<div>
  <form id="form" action="/signup" method="POST">
    <label for="username">Nombre De Usuario</label><br>
    <input type="text" name="nombreDeUsuario"
      placeholder="ElizaldeArana">

    <br><br>
    <label for="password">Contraseña</label><br>
    <input type="password" name="contraseña"
      placeholder="1234">
    <br><br>






    

    <button>Crear cuenta</button>
  </form>

</div>

<script>

</script>

</body>
</html>
