
<!DOCTYPE html>
<html>
<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</head>
<body>

<h2 class="w3-center">Proyecto Sanación</h2>

<div class="w3-content w3-display-container">


  <img class="mySlides" src="./images/healthyEating.jpg" style="width:100%">
  <img class="mySlides" src="./images/healthyEating2.jpg" style="width:100%">
  <img class="mySlides" src="./images/healthyEatin3.jpg" style="width:100%">
  <img class="mySlides" src="img_forest.jpg" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<div> </div>

<div>
  <form id="form" action="/signup" method="POST">
    <label for="username">Nombre De Usuario</label><br>
    <input type="text" name="nombreDeUsuario"
      placeholder="ElizaldeArana">

    <br><br>
    <label for="password">Contraseña</label><br>
    <input type="password" name="contraseña"
      placeholder="1234">
    <br><br>

    <button>Crear cuenta</button>
  </form>

</div>

<script>

</script>

</body>
</html>
