<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <title></title>
</head>

<body>
  <div class="container" style="padding-top:0%">
    <div class="row text-center" style="padding-top: 100px">
      <h2 class= "text-center">Paso 1: Datos personales</h2>
    </div>
  </div>
  <div class="container" style="padding-top:0%">
    <div class="row">
      <div class="col col-10 col-md-4 col-sm-4 img-thumbnail ">
        <div class="profileImage">
          <img class="profileImage" src="/images/blankProfile.png" width="100%" height="100%" style= "padding-top= 50%">
        </div>

        <input type="file" name="file" class="file btn btn-lg btn-primary col col-10 col-md-5 col-sm-4" value=""/>
        
      </div>
      
      <div class="col col-10 col-md-6 col-sm-6">

        {{#if errorMessage}}
          <div style="color: red;" class="error-message">{{ errorMessage }}</div>
        {{/if}}

        <form action="/signup" method="POST" id="personalData" enctype="application/x-www-form-urlencoded">
          <div class="form-group">
            <label for= "Nombre"> Nombre</label>
            <input type="text" class="form-control" id="Nombre" aria-describedby="NombreHelp" placeholder="Chuchita" name="Nombre">
            <small id= "NombreHelp" class="form-text text-muted"> </small>
          </div>

          <div class="form-group">
            <label for= "Apellido"> Apellido</label>
            <input type="text" class="form-control" id="Apellido" placeholder="Pérez" name="Apellido">
            <small id= "NombreHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" placeholder="chuchita@labolsearon.com" name="Email">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" placeholder="7 caracteres mínimo" name="Password">
            <small id="emailHelp" class="form-text text-muted"></small>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">¿Qué edad tienes?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Edad">
              <option>18-21</option>
              <option>22-25</option>
              <option>26-28</option>
              <option>29-31</option>
              <option>32-34</option>
              <option>35-37</option>
              <option>38-40</option>
              <option>41-43</option>
              <option>44-46</option>
              <option>47-49</option>
              <option>50-52</option>
              <option>53-55</option>
              <option>56-58</option>
              <option>59-61</option>
              <option>62-64</option>
              <option>65-67</option>
              <option>68-70</option>
              <option>71-73</option>
              <option>74-76</option>
              <option>77-79</option>
              <option>80-82</option>
              <option>83-85</option>
              <option>85-87</option>
              <option>88-90</option>
              <option>+90</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">¿Por qué quieres iniciar un plan de alimentación personalizado?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="Motivo">
              <option>Para mejorar mi salud</option>
              <option>Para ayudar a mi cuerpo a sanar de una enfermedad</option>
              <option>Para complementar mi entrenamiento físico</option>
            </select>
          </div>

            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" name="Newsletter">
              <label class="form-check-label" for="exampleCheck1">Deseo recibir correos con contenido de Proyecto Sanación</label>
            </div>
        </div>
      </div>
    
      <div class="row text-center" style="padding-top: 100px">
        <h2 class= "text-center">Paso 2: Preferencias alimenticias</h2>
      </div>
    
      <div class="col col-10 col-md-10 col-sm-10">          
            <div class="form-group">
              <label for="exampleFormControlSelect1">¿Cuántas comidas realizas al día?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="Comidas">
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">¿A qué hora es cuando más hambre sientes?</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="Horahambre">
                    <option>A la hora del desayuno</option>
                    <option>A la hora del almuerzo</option>
                    <option>A la hora de la comida</option>
                    <option>Después de la comida</option>
                    <option>A la hora de la cena</option>
                    <option>En la madrugada</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">¿Comes postre después de la comida?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="Postre">
                  <option>Sí</option>
                  <option>Casi siempre</option>
                  <option>Muy ocasionalmente</option>
                  <option>No</option>
                </select>
              </div>

          <div class="form-group">
              <label for="exampleFormControlSelect1">¿Comes entre comidas?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="Entrecomida">
              <option>Sí</option>
              <option>Casi siempre</option>
              <option>Muy ocasionalmente</option>
              <option>No</option>
            </select>
          </div>
        </div>
    <h2 class="text-center">Paso 3: Cuidados especiales</h2>
      <div class="col col-10 col-md-10 col-sm-10">
            <div class="form-group">
              <label for="exampleFormControlSelect1">¿Eres alérgico a algún alimento?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="Alergias">
                <option>Sí</option>
                <option>No</option>
              </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Especifíca cual</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="cualAlergia"></textarea>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">¿Eres alérgico a alguna sustancia?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="cualAlergiaSustancia">
                  <option>Sí</option>
                  <option>No</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlTextarea1">Especifíca cual</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name="restriccionAlimenticia"></textarea>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">¿Tienes alguna restricción alimenticia por parte de tu médico?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="cualRestriccionAlimenticia">
                  <option>Sí</option>
                  <option>No</option>
                </select>
              </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Especifíca cual</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">¿Qué medicamentos tomas?</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="medicamentos"></textarea>

                    <div class="form-group">
                      <label for="exampleFormControlSelect1">¿Presentas algunos efectos secundarios?</label>
                      <select class="form-control" id="exampleFormControlSelect1" name="efectosSecundarios">
                        <option>Sí</option>
                        <option>No</option>
                      </select>
                    </div>

                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Por favor cuéntanos de cualquier malestar crónico u ocasional que sientas</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="malestarCronico"></textarea>
                  </div>
                </div>
            </div>

      <h2 class= "text-center">Paso 4: Seguimiento.</h2>
        <div class="col col-10 col-md-10 col-sm-10">
            <div class="form-group">
              <label for="exampleFormControlSelect1">¿Cuál es tu peso actual?</label>
              <select class="form-control" id="exampleFormControlSelect1" name="peso">
                <option>45kg</option>
                <option>46kg</option>
                <option>47kg</option>
                <option>48kg</option>
                <option>49kg</option>
                <option>50kg</option>
                <option>51kg</option>
                <option>52kg</option>
                <option>53kg</option>
                <option>54kg</option>
                <option>55kg</option>
                <option>56kg</option>
                <option>57kg</option>
                <option>58kg</option>
                <option>59kg</option>
                <option>60kg</option>
                <option>61kg</option>
                <option>62kg</option>
                <option>63kg</option>
                <option>64kg</option>
                <option>65kg</option>
                <option>66kg</option>
                <option>67kg</option>
                <option>68kg</option>
                <option>69kg</option>
                <option>70kg</option>
                <option>71kg</option>
                <option>72kg</option>
                <option>73kg</option>
                <option>74kg</option>
                <option>75kg</option>
                <option>76kg</option>
                <option>77kg</option>
                <option>78kg</option>
                <option>79kg</option>
                <option>80kg</option>
                <option>81kg</option>
                <option>82kg</option>
                <option>83kg</option>
                <option>84kg</option>
                <option>85kg</option>
                <option>86kg</option>
                <option>87kg</option>
                <option>88kg</option>
                <option>89kg</option>
                <option>90kg</option>
                <option>91kg</option>
                <option>92kg</option>
                <option>93kg</option>
                <option>94kg</option>
                <option>95kg</option>
                <option>96kg</option>
                <option>97kg</option>
                <option>98kg</option>
                <option>99kg</option>
                <option>100kg</option>
                <option>101kg</option>
                <option>102kg</option>
                <option>103kg</option>
                <option>104kg</option>
                <option>105kg</option>
                <option>106kg</option>
                <option>107kg</option>
                <option>108kg</option>
                <option>109kg</option>
                <option>110kg</option>
                <option>111kg</option>
                <option>112kg</option>
                <option>113kg</option>
                <option>114kg</option>
                <option>115kg</option>
                <option>116kg</option>
                <option>117kg</option>
                <option>118kg</option>
                <option>119kg</option>
                <option>120kg</option>
                <option>121kg</option>
                <option>122kg</option>
                <option>123kg</option>
                <option>124kg</option>
                <option>125kg</option>
                <option>126kg</option>
                <option>127kg</option>
                <option>128kg</option>
                <option>129kg</option>
                <option>130kg</option>
                <option>131kg</option>
                <option>132kg</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">¿Cuál es tu altura?</label>
              <select name="altura" class="form-control" id="exampleFormControlSelect1">
                <option>1.30m</option>
                <option>1.31m</option>
                <option>1.32m</option>
                <option>1.33m</option>
                <option>1.34m</option>
                <option>1.35m</option>
                <option>1.36m</option>
                <option>1.37m</option>
                <option>1.38m</option>
                <option>1.39m</option>
                <option>1.40m</option>
                <option>1.41m</option>
                <option>1.52m</option>
                <option>1.53m</option>
                <option>1.54m</option>
                <option>1.55m</option>
                <option>1.56m</option>
                <option>1.57m</option>
                <option>1.58m</option>
                <option>1.59m</option>
                <option>1.60m</option>
                <option>1.61m</option>
                <option>1.62m</option>
                <option>1.63m</option>
                <option>1.64m</option>
                <option>1.65m</option>
                <option>1.66m</option>
                <option>1.67m</option>
                <option>1.68m</option>
                <option>1.69m</option>
                <option>1.70m</option>
                <option>1.71m</option>
                <option>1.72m</option>
                <option>1.73m</option>
                <option>1.74m</option>
                <option>1.75m</option>
                <option>1.76m</option>
                <option>1.77m</option>
                <option>1.78m</option>
                <option>1.79m</option>
                <option>1.80m</option>
                <option>1.81m</option>
                <option>1.82m</option>
                <option>1.83m</option>
                <option>1.84m</option>
                <option>1.85m</option>
                <option>1.86m</option>
                <option>1.87m</option>
                <option>1.88m</option>
                <option>1.89m</option>
                <option>1.90m</option>
              </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">¿Cuál es tu IMC (índice de masa corporal)?</label>
                <select class="form-control" id="exampleFormControlSelect1" name="imc">
                  <option>menor de 18.5</option>
                  <option>entre 18.5 y 24.9</option>
                  <option>entre 25.0 y 29.9</option>
                  <option>mayor a 30.0</option>
                </select>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <input value="Enviar" type="submit"></input>
      </form>
    </div>
  </div>
</div>

