<div class="row">
  <div class="col col-md-4 offset-md-4 col-sm-12">
    <h2 class="w3-center">Proyecto Sanación</h2>
    <div class="w3-content w3-display-container">
      <img class="mySlides" src="/images/healthyEating.jpg" style="width:100%" height="100%">
      <img class="mySlides" src="/images/healthyEating2.jpg" style="width:100%" height="100%">
      <img class="mySlides" src="/images/healthyEatin3.jpg" style="width:100%" height="100%">
      <img class="mySlides" src="/images/healthyEating4.jpg" style="width:100%" height="100%">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div>
</div>
</div>

  <div class="row">
    <div class="col col-md-7 offset-md-5 col-sm-12">
      <form id="form" action="/" method="POST">
        <label for="username">Nombre De Usuario</label><br>
        <input type="text" name="email"
          placeholder="ElizaldeArana">
        <br><br>
        <label for="password">Contraseña</label><br>
        <input type="password" name="password"
          placeholder="1234">
        <br><br>
        <button>Iniciar sesión</button>

        {{#if errorMessage }}
          <div class="error-message">{{ errorMessage }}</div>
        {{/if}}

      </form>

      <a href="/signup">
        <button>Crear cuenta</button>
      </a>

    </div>
  </div>
