  <div class="container">
    <div class="row">
      <div class="col col-10 col-md-10 col-sm-10">
        <h1>Planeación de Menú Semanal</h1>
      </div>
    </div>
  </div>

    <div class="container">
      <div class="row">
        <div class="col col-10 col-md-10 col-sm-10">
          <h2>¿A partir de que fecha deseas recibir tu plan de alimentos personalizado?</h2>
        </div>
      </div>


      <div class="row">
        <div class="container">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>

        <div class="container">
          <div class="row">
            <div class="col col-10 col-md-10 col-sm-10">
              <h2>Elige que alimentos te gustaría recibir cada día.</h2>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Lunes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Martes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Miércoles</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Jueves</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Viernes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Sábado</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Domingo</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Lunes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Martes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Miércoles</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Jueves</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <h3>Viernes</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Sábado</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <h3>Domingo</h3>
                <div class="row" style= "padding:10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Desayuno</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack mediodía</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Comida</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Snack media tarde</label>
                  </div>
                </div>

                <div class="row" style= "padding: 10px">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="container">
            <div class="row">
              <div class="col-sm">
                <button type="button" class="btn btn-success">Aprobar menú</button>
              </div>
              <div class="col-sm">
                <button type="button" class="btn btn-danger">Volver a cargar</button>
              </div>
            </div>
          </div>