body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  text-align: center;
  font-family: 'Do Hyeon', sans-serif;
}

*{
  font-family: 'Do Hyeon', sans-serif;
}

.profileImage {
  margin-left:0%;
  margin-right:0%;
  padding: 0% 0 0 0;
}

.container {
  padding-top: 40%;
}

.img-thumbnail{
  border-radius: 1px;
  height: fit-content !important;
}

.profilepic {
  padding-top: 15px;
  position:relative;
}
